
body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    text-align: center;
    color: black;
  }
  

  .jumbotron {
    height:50px;
   padding-top: 0;
   padding-bottom: 0;
    background-color: #40464c!important;
  }

  .jumbotron h1{
    color: white;
    line-height: 0.2;
  }


  .byline {
    font-weight: 200;
    font-style: italic;
  }

  .card h4{
      text-align: left;
      background-color: white;
      border-color: white;
      padding-left: 25px;
  }

  .card-header {
    padding: -2.25rem 1.25rem;
    margin-bottom: -19px;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    
  }

  .card body {
    text-align: left;
    margin-left: 0px;
    border-color: white;
  }

  #city-list {
      margin-left: -45px;
      border-color: WHITE;
  }

  .card
  custom-card {
      border-color: white;
  }
@media (min-width: 576px) { ... }


@media (min-width: 768px) { ... }


@media (min-width: 992px) { ... }


@media (min-width: 1200px) { ... }